################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BarnManagement/.vs
/.vs/BarnManagement/FileContentIndex
/.vs/BarnManagement/v17/.suo
/BarnManagement/bin/Debug/BarnManagement.exe
